.errormain {
    width: 60%;
    margin: auto;
    justify-content: center;
    display: flex;
}
.errormain.inprofile {
    width: 100%;
}
.errorcontainer {
    position: relative;
    top: 150px;
    margin: 40px;
    border: 1px solid #CFD7DF;
    padding: 100px;
    width: inherit;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}
.errorcontainer.inprofilecontainer {
    top: 0;
}
.errormsg,.errorreason {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
    color: #565656;
}
.errorreason {
    color: #ff0000;
}
.errortext > div:last-child {
    margin-bottom: 8px;
    color: #565656;
    font-style: italic;
}
.errorBtn button {
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    background: #298fca;
    width: 100%;
    padding: 16px 0px;
    font-size: 14px;
    margin-top: 12px;
}
.errorBtn {
    width: 80%;
    margin: auto;
}
.loaderbig {
    top:120px;
    position: relative;
    border: 12px solid #CFD7DF;
    border-radius: 50%;
    border-top: 12px solid #298fca;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
  .loadersmall {
    top:120px;
    position: relative;
    border: 2px solid #CFD7DF;
    border-radius: 50%;
    border-top: 2px solid #298fca;
    width: 16px;
    height: px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    margin: 0 auto;
  }
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  @media only screen and (max-width: 600px) {
    .errormain {
        width: 100%;
    }
  }