.profilenavmain{
    display: flex;
    justify-content: space-around;
    margin: 16px;
    padding: 16px;
}
.profilemain {
    width: 60%;
    text-align: center;
    margin: auto;
    top: 32px;
    border: 1px solid #CFD7DF;
    position: relative;
}
.profiletab {
    font-size: 16px;
    font-weight: 600;
    color: #565656;
    cursor: pointer;
}
.tabHeading {
    margin: 30px;
    color: #0079bf;
    text-decoration: underline;
}
.tabmainarea{
    text-align: left;
    padding: 48px
}
.tabmainarea > div {
    margin-bottom: 24px;
}
.tabmainarea > div > span:first-child {
    font-style: italic;
    color: #565656;
    margin-left: 12px;
}
.tabmainarea > div > span:last-child {
    color: #0079bf;
    margin-left: 12px;
}
.profilebtn button {
    border-radius: 4px;
    cursor: pointer;
    color: #298fca;
    background: #fff;
    width: 100%;
    padding: 16px 0px;
    font-size: 14px;
    border: 1px solid #298fca;
    margin-top: 12px;
}
.profilebtn:hover button {
    color: #fff;
    background: #298fca;
}
@media only screen and (max-width: 800px) {
    .profilemain {
        width: 100%;
        border: none
    }
    .tabmainarea{
        padding: 0;
    }
    .profilenavmain{
        padding: 0;
    }
}